.MainWrapper {
  margin: 0 auto;
  width: min(90%, 1400px);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 420px) {
  html {
    overflow-x: hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
}

.hero__background1, .hero__background2 {
  position: absolute;
  width: 30rem;
  height: 30rem;
  filter: opacity(0.1);
  user-select: none;
}
.hero__background1 {
  bottom: 5rem;
  left: -10rem;
  z-index: -5000;
}
@media (max-width: 1030px) {
  .hero__background1 {
    top: 30%;
    right: 10%;
    z-index: 2000;
  }
}
.hero__background2 {
  top: -12rem;
  right: 25rem;
  transform: rotate(200deg);
  z-index: 2000;
}
@media (max-width: 1030px) {
  .hero__background2 {
    top: -20%;
    right: -20%;
    z-index: 2000;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.info__title {
  font-size: clamp(1.9rem, 3vw, 3.5rem);
  text-align: center;
}
.info__subTitle {
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  color: #353440;
  font-size: clamp(1.6rem, 1.7vw, 3.1rem);
  margin-top: 0.7rem;
  margin-bottom: -4rem;
}
@media (max-width: 1030px) {
  .info__subTitle {
    margin-bottom: 1.3rem;
  }
}
@media (max-width: 400px) {
  .info__subTitle {
    width: 100%;
    margin-bottom: 1.3rem;
  }
}
.info__types {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(40rem, 500px);
  width: 100%;
}
@media (max-width: 1030px) {
  .info__types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .info__types {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 28rem;
  }
}
.info__types-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 25%;
  height: clamp(12rem, 18vw, 22rem);
  position: relative;
  color: #FFFFFF;
  border-radius: 10px;
  margin-right: 1.5rem;
  background-color: #397f5d;
  box-shadow: 8px 8px 24px -12px rgb(66, 68, 90);
  z-index: 5000;
}
@media (max-width: 1030px) {
  .info__types-item {
    margin-right: 0;
  }
}
.info__types-item:last-child {
  margin-right: 0;
}
.info__types-title {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  padding: 1rem;
  font-weight: 300;
  z-index: 100;
}
.info__types-background {
  bottom: -1rem;
  left: -3rem;
  position: absolute;
  width: clamp(12rem, 22vw, 15rem);
  filter: opacity(0.1);
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90vw;
  margin-bottom: 5rem;
}
.boxes__title {
  text-align: center;
  font-size: clamp(1.8rem, 2.7vw, 3.1rem);
  color: #353440;
  margin-top: -2.5rem;
  margin-bottom: 1rem;
  font-family: "Poppins";
}
.boxes .box {
  display: block;
  position: relative;
  flex-basis: 100%;
  padding: 1rem;
  z-index: 5000;
}
.boxes .box__img {
  border-radius: 13px;
  transition: 0.4s filter;
}
.boxes .box__img:hover {
  filter: grayscale(0.3);
}
@media (max-width: 420px) {
  .boxes .box__img {
    width: 98%;
  }
}
@media (min-width: 640px) {
  .boxes .box {
    flex-basis: 50%;
  }
}
@media (min-width: 960px) {
  .boxes .box {
    flex-basis: 33.333%;
  }
}
@media (min-width: 1280px) {
  .boxes .box {
    flex-basis: 25%;
  }
}
.boxes .box__title {
  position: absolute;
  bottom: 4rem;
  left: 2.5rem;
  color: #FFFFFF;
  font-weight: 500;
  font-size: clamp(1.7rem, 2vw, 2.3rem);
}
.boxes .box__subTitle {
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Courgette";
  font-size: clamp(1.2rem, 1.4vw, 1.7rem);
}
.boxes .box__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 54px;
  height: 54px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  bottom: 2.2rem;
  right: 2rem;
  transition: 0.5s transform;
  cursor: pointer;
}
.boxes .box__icon:hover {
  transform: rotate(360deg);
}
@media (max-width: 420px) {
  .boxes .box__icon:hover {
    transform: none;
  }
}
.boxes .box__icon-img {
  width: 100%;
}

.productsList {
  margin-bottom: 3rem;
}
.productsList-title {
  text-align: left;
  font-size: clamp(1.65rem, 2.2vw, 3.2rem);
  font-weight: 300;
  margin-bottom: 3rem;
}
@media (max-width: 420px) {
  .productsList-title {
    margin-top: -2rem;
    text-align: center;
  }
}
.productsList .list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 1rem;
}
.productsList .list__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.productsList .list__box {
  position: relative;
  flex-basis: 23%;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 8px 8px 24px -12px rgb(66, 68, 90);
  border-radius: 15px;
  transition: 0.4s;
  transition-property: box-shadow, transform;
}
.productsList .list__box:hover {
  transform: scale(1.07);
  box-shadow: 10px 10px 24px -12px #397f5d;
}
@media (max-width: 1200px) {
  .productsList .list__box {
    flex-basis: 47%;
  }
  .productsList .list__box:hover {
    transform: none;
    box-shadow: 8px 8px 24px -12px rgb(66, 68, 90);
  }
}
@media (max-width: 630px) {
  .productsList .list__box {
    flex-basis: 100%;
  }
}
.productsList .list__box-icon {
  display: inline-block;
  margin-bottom: 2rem;
  border: 3px solid #397f5d;
  box-shadow: 6px 6px 12px -12px rgb(66, 68, 90);
  padding: 1.4rem;
  border-radius: 35%;
}
.productsList .list__box-icon:hover {
  box-shadow: 0;
}
.productsList .list__box-title {
  text-align: center;
  margin-bottom: 3.5rem;
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
}
.productsList .list__box-click {
  position: absolute;
  text-align: center;
  bottom: 0.2rem;
  padding-top: 2rem;
}

.moreInfo {
  flex-wrap: wrap;
  margin: 0 auto;
  width: min(90%, 1400px);
}

.left {
  margin-bottom: 3rem;
  text-align: center;
}
@media (max-width: 420px) {
  .left {
    margin-bottom: 8rem;
    margin-top: 6rem;
  }
}
.left__title {
  font-size: clamp(1.8rem, 2.7vw, 3.1rem);
  margin-bottom: 1rem;
  font-weight: bold;
  width: 100%;
}
@media (max-width: 420px) {
  .left__title {
    margin-top: -3rem;
  }
}
.left__subTitle {
  font-size: clamp(1.6rem, 1.7vw, 3.1rem);
  margin-bottom: 3.5rem;
  width: 100%;
  font-weight: 300;
}
@media (max-width: 420px) {
  .left__subTitle {
    margin-bottom: 3rem;
  }
}

.right {
  display: grid;
  place-items: center;
  padding-bottom: 6rem;
}
.right__img {
  width: clamp(20rem, 60vw, 50rem);
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 8px 8px 24px -7px rgb(66, 68, 90);
}
@media (max-width: 420px) {
  .right__img {
    margin-top: -4rem;
  }
}

table {
  width: 900px;
  border-collapse: collapse;
  margin: 50px auto;
  margin-bottom: 4rem;
  margin-top: -1rem;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #397f5d;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: clamp(1.1rem, 1vw, 1.5rem);
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 910px), (min-device-width: 910px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}

/*# sourceMappingURL=produkty.css.map */
