@import "../variables/colors";
@import "../variables/components";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 420px) {
    overflow-x: hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $mainColor;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
}

main {
  text-align: center;
}

// ### certificates ###

.certificates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  .box {
    position: relative;

    &__icon {
      position: absolute;
      top: -2rem;
      right: -0.5rem;
      padding: 0.3rem;
      border: 2px solid $secondColor;
      background-color: $secondColor;
      border-radius: 50%;
    }

    &__img {
      border: 3px solid $secondColor;
      box-shadow: 6px 6px 12px -12px rgba(66, 68, 90, 1);
      padding: 1.4rem;
      border-radius: 28%;
      margin-top: -1rem;
    }

    &__link {
      flex-basis: 30%;
      padding: 2.5rem 1rem;
      box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);
      border-radius: 15px;
      transition: 0.4s;
      transition-property: box-shadow, transform;

      &:hover {
        transform: scale(1.07);
        box-shadow: 10px 10px 24px -12px $secondColor;
      }

      @media (max-width: 1100px) {
        flex-basis: 48%;

        &:hover {
          transform: none;
        }
      }

      @media (max-width: 630px) {
        flex-basis: 100%;
      }
    }

    &__title {
      margin-top: 0.5rem;
      font-size: clamp(1.4rem, 1.6vw, 1.9rem);
      font-weight: bold;
    }

    &__subTitle {
      margin-top: 0.5rem;
      font-size: clamp(1.2rem, 1.3vw, 1.5rem);
      font-weight: 300;
    }
  }
}

// ### certificates ###
