@import "../variables/colors";
@import "../variables/components";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 420px) {
    overflow-x: hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $mainColor;
  position: relative;
}

.hero__background1 {
    @media (max-width: 520px) {
        display: none;
    }
}

/// ### main ###

.main {
  display: grid;
  place-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5000;

  &__header {
    display: flex;
    align-items: center;
    text-align: center;

    &-title {
      color: $darkHover;
      font-size: clamp(2rem, 2.6vw, 3.1rem);
      margin-bottom: 1rem;
      font-weight: bold;
      width: 100%;

      @media (max-width: 420px) {
        text-align: center;
        margin-top: 2.3rem;
      }
    }
  }

  &__green {
    display: grid;
    place-items: center;
    position: relative;
    width: clamp(300px, 80vw, 1000px);
    min-height: 100%;
    background-color: $secondColor;
    margin-top: 1.3rem;
    border-radius: 10px;
    box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
    padding: 3rem 0;

    &-bgc {
      position: absolute;
      bottom: -1.5rem;
      left: -5.5rem;
      width: clamp(20rem, 20vw, 30rem);
      filter: opacity(0.1);
    }
  }
}

.link {
  text-decoration: none;
  padding: 1rem;
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  color: black;
}

.contactLink {
  color: black;
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  font-weight: bold;
}

/// ### main ###
