@import "./variables/colors";
@import "./variables/components";
//  font-family: "Poppins", sans-serif;
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 420px) {
    overflow-x: hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $mainColor;
  position: relative;
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;

  @media (max-width: 1030px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 420px) {
    margin-top: 3rem;
    overflow-x: hidden;
  }
}

// ### info ###
.info {
  @media (max-width: 1030px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media (max-width: 420px) {
      margin-bottom: 2.3rem;
    }
  }

  &__time {
    position: relative;
    color: $secondColor;
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    margin-bottom: 0.4rem;
    font-weight: bold;
  }

  &__title {
    font-size: clamp(2.5rem, 5vw, 3.8rem);
    z-index: 1000;
    margin-bottom: 0.4rem;
    min-width: 120%;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 4.65rem;

    @media (max-width: 820px) {
      line-height: normal;
    }

    @media (max-width: 930px) {
      font-size: clamp(1.7rem, 5vw, 3rem);
      margin-top: -1rem;
    }

    @media (max-width: 420px) {
      font-size: clamp(2.2rem, 2.5vw, 2rem);
      margin-top: 0.1rem;
      min-width: 100%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
  }

  &__subTitle {
    width: min(90%, 90vw);
    font-size: clamp(1.7rem, 1.8vw, 2rem);
    font-weight: 300;
    margin-bottom: 2.3rem;
    margin-top: 1rem;

    @media (max-width: 420px) {
      font-size: clamp(1.65rem, 1.5vw, 3rem);
      margin-top: -1rem;
      margin-top: 0.7rem;
      width: 100%;
    }
  }

  &__btn {
    color: $mainColor;
    background-color: $secondColor;
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
    cursor: pointer;
    border: none;
    padding: 1.2rem 2.5rem;
    border-radius: 15px;
    transition: 0.5s;

    @media (max-width: 400px) {
      margin-bottom: -5rem;
    }

    &:hover {
      background-color: $secondColorHover;
    }
  }
}
.photo {
  position: relative;
  z-index: -1;

  &__experiance {
    position: relative;
    position: absolute;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: $secondColor;
    width: min(10rem, 20vw);
    height: min(10rem, 20vh);
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    top: 20%;
    right: -4rem;
    font-family: "Poppins", sans-serif;
    color: $mainColor;

    &-title {
      font-size: clamp(1.7rem, 2vw, 2rem);
      font-weight: bold;
    }

    @media (max-width: 730px) {
      right: -2rem;
      width: min(8rem, 25vw);
      height: min(8rem, 25svh);
    }

    @media (max-width: 420px) {
      top: 30%;
      right: -1rem;
    }

    @media (max-width: 396px) {
      width: min(8rem, 30vw);
      height: min(8rem, 30svh);
      right: -1.5rem;
    }

    &-item {
      margin-top: -3rem;
    }

    &-leaf {
      position: absolute;
      top: -0.5rem;
      right: -1.5rem;
      width: 10rem;
      height: 10rem;
      transform: rotate(200deg);
      filter: opacity(0.1);
    }
  }

  &-item {
    width: min(25rem, 50vw);
    height: min(35rem, 70svh);
    object-fit: contain;

    @media (max-width: 730px) {
      width: min(30rem, 70vw);
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    @media (max-width: 930px) {
      width: min(30rem, 70vw);
      margin-top: 1rem;
    }

    @media (max-width: 1030px) {
      margin-top: 2rem;
    }
  }
} // ### info ###

// ### slider ###

.slider {
  margin-top: min(5rem, 5vw);
  padding-bottom: 3rem;

  @media (max-width: 396px) {
    margin-top: -4rem;
  }

  &__green {
    position: relative;
    width: 95vw;
    margin: 0 auto;
    margin-bottom: -15%;
    border-radius: 15px;
    height: clamp(8rem, 20vw, 20rem);
    background-color: $secondColor;
    z-index: -100;

    &-img {
      position: absolute;
      width: clamp(8rem, 17vw, 30rem);
      filter: opacity(0.1);
      transform: rotate(10deg);
      bottom: 10%;
      left: -2rem;
    }

    &-img1 {
      position: absolute;
      width: clamp(8rem, 15vw, 20rem);
      filter: opacity(0.1);
      transform: rotate(190deg);
      bottom: 10%;
      right: -2rem;
    }
  }
}

.wrapper {
  width: min(90%, 1700px);
  margin: 0 auto;
  position: relative;
  cursor: grab;
  overflow-x: hidden;
  margin-bottom: 3rem;

  &__item {
    position: relative;

    &-title {
      position: absolute;
      width: 50%;
      padding: 0.5rem;
      text-align: center;
      color: $mainColor;
      background-color: rgba(66, 68, 90, 0.4);
      border-radius: 25px;
      bottom: -0.2rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-img {
      margin: 0 auto;
      height: clamp(250px, 18vw, 325px);
      width: clamp(325px, 25vw, 425px);
      box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
      border-radius: 15px;

      @media (max-width: 600px) {
        box-shadow: 0 0 0;
      }
    }
  }
}

// ### slider ###

// ### aboutUs ###

.aboutUs {
  &__article {
    margin-bottom: 4rem;

    @media (max-width: 420px) {
      margin-top: -2rem;
    }
  }

  &__title {
    text-align: center;
    font-size: clamp(2rem, 2.6vw, 3rem);
    font-weight: bold;
    margin-bottom: 1.3rem;
  }

  &__subTitle {
    text-align: center;
    font-weight: 300;
    font-size: clamp(1.6rem, 1.8vw, 3.1rem);

    @media (max-width: 420px) {
      font-size: clamp(1.65rem, 1.5vw, 3rem);
    }
  }

  &__link {
    color: $secondColor;
    text-decoration: underline;
  }
}

// ### aboutUs ###
